:root {
    --gunmetal-hex: #12222C;
    --gunmetal-rgb: 18 34 44;
}
.bg-gunmetal { background-color: var(--gunmetal-hex); }
.hover\:bg-gunmetal:hover { background-color: var(--gunmetal-hex); }
.bg-gradient-gunmetal {
    background-image: linear-gradient(-25deg, black, var(--gunmetal-hex))
}
.text-gunmetal { color: var(--gunmetal-hex); }
.hover\:text-gunmetal:hover { color: var(--gunmetal-hex); }
.text-gradient-gunmetal {
    background-image: linear-gradient(90deg, black 16%, var(--gunmetal-hex) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-gunmetal {
    --tw-border-opacity: 1;
    border-color: rgba(var(--gunmetal-rgb), var(--tw-border-opacity));
 }
.hover\:border-gunmetal:hover {
    --tw-border-opacity: 1;
    border-color: rgba(var(--gunmetal-rgb), var(--tw-border-opacity));
}

@keyframes fadeInOut {
    from {
        transform: translateY(var(--fadeFrom));
        opacity: var(--opacity);
    }
    to {
        transform: translateY(var(--fadeTo));
        opacity: 1;
    }
}
.fade-in-up {
    --opacity: 0;
    --fadeFrom: 50px;
    --fadeTo: 0;
    animation: 0.75s both fadeInOut;
}